<?xml version="1.0"?>
<config>
  <modules>
    <Balance_Allajax>
      <version>0.1.0</version>
	   <depends>
           <Mage_Catalog/>
           <Mage_Checkout/>
           <Enterprise_Checkout/>
	   <Mage_Wishlist/>
           <Enterprise_Wishlist/>          
       </depends>
    </Balance_Allajax>
  </modules>
  <frontend>
     <routers>
            <allajax>
                <use>standard</use>
                <args>
                    <module>Balance_Allajax</module>
                    <frontName>allajax</frontName>
                </args>
            </allajax>
        </routers>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <allajax>
                        <type>singleton</type>
                        <class>allajax/observer</class>
                        <method>addToCartEvent</method>
                    </allajax>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_item_complete>
                <observers>
                    <allajax>
                        <type>singleton</type>
                        <class>allajax/observer</class>
                        <method>updateItemEvent</method>
                    </allajax>
                </observers>
            </checkout_cart_update_item_complete>
            <!--for configurable products-->
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <allajax>
                        <class>allajax/observer</class>
                        <method>getConfigurableOptions</method>
                    </allajax>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <!--for group products-->
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <allajax>
                        <type>singleton</type>
                        <class>allajax/observer</class>
                        <method>getGroupProductOptions</method>
                    </allajax>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <render_block>
                <observers>
                    <allajax>
                        <type>singleton</type>
                        <class>allajax/observer</class>
                        <method>renderWishlistLink</method>
                    </allajax>
                </observers>
            </render_block>
        </events>

      
		<layout>
		  <updates>
			<allajax>
			  <file>allajax.xml</file>
			</allajax>
		  </updates>
		</layout>
  </frontend>
  <global>
       <models>
            <allajax>
                <class>Balance_Allajax_Model</class>
            </allajax>
        </models>
    <helpers>
      <allajax>
        <class>Balance_Allajax_Helper</class>
      </allajax>
        <ultimo>
			<rewrite>
				<template>Balance_Allajax_Helper_Ultimo_Template</template>
            </rewrite>
        </ultimo>
    </helpers>
	<blocks>
              <allajax>
                    <class>Balance_Allajax_Block</class>
              </allajax>
            <checkout>
                    <rewrite>
                            <cart_item_configure>Balance_Allajax_Block_Checkout_Cart_Item_Configure</cart_item_configure>
                    </rewrite>
            </checkout>
            <enterprise_giftcardaccount>
                <rewrite>
                        <checkout_cart_total>Balance_Allajax_Block_Giftcardaccount_Total</checkout_cart_total>
                 </rewrite>
            </enterprise_giftcardaccount>
            <wishlist>
                <rewrite>
                    <customer_sidebar>Balance_Allajax_Block_Wishlist_Customer_Sidebar</customer_sidebar>
                </rewrite>
            </wishlist>       
           <ultimo>
		<rewrite>
		    <product_list_featured>Balance_Allajax_Block_Ultimo_Product_List_Featured</product_list_featured>
		</rewrite>
            </ultimo>    
	</blocks>
        <rewrite>
            <Balance_allajax_checkout_cart>
                <from><![CDATA[#^/checkout/cart/#]]></from>
                <to>/allajax/checkout_cart/</to>
            </Balance_allajax_checkout_cart>
        </rewrite>
  </global>
    <default>
        <allajax>
            <settings>
                <enabled>1</enabled>
            </settings>
        </allajax>
    </default>
</config> 