<?xml version="1.0"?>
<config>
	<modules>
		<Tal_Custom>
			<version>0.0.1</version>
		</Tal_Custom>
	</modules>
	<global>
		<helpers>
			<tal_Custom>
				<class>Tal_Custom_Helper</class>
			</tal_Custom>
			<catalog>
				<rewrite>
					<product_compare>Tal_Custom_Helper_ProductCompare</product_compare>
				</rewrite>
			</catalog>
		</helpers>
		<blocks>
			<tal_Custom>
				<class>Tal_Custom_Block</class>
			</tal_Custom> 
			<catalog>
				<rewrite>
				<product_list>Tal_Custom_Block_Catalog_Product_List</product_list>
				</rewrite>
			</catalog>
			<catalog>
				<rewrite>
					<product_compare_list>Tal_Custom_Block_Catalog_Product_Compare_List</product_compare_list>
				</rewrite>
			</catalog>
			<catalog>
				<rewrite>
					<product_widget_new>Tal_Custom_Block_Catalog_Product_Widget_New</product_widget_new>
				</rewrite>
			</catalog>
			<catalog>
				<rewrite>
					<product_list_related>Tal_Custom_Block_Catalog_Product_List_Related</product_list_related>
				</rewrite>
			</catalog>
			<reports>
				<rewrite>
					<product_viewed>Tal_Custom_Block_Reports_Product_Viewed</product_viewed>
				</rewrite>
			</reports>
			<page>
				<rewrite>
					<html_header>Tal_Custom_Block_Page_Html_Header</html_header>
				</rewrite>
			</page>
			<enterprise_targetrule>
				<rewrite>					
					<catalog_product_list_related>Tal_Custom_Block_TargetRule_Catalog_Product_List_Related</catalog_product_list_related>
				</rewrite>
			</enterprise_targetrule>		
		</blocks>
		<models>
			<tal_Custom>
				<class>Tal_Custom_Model</class>
			</tal_Custom>
		</models>
	</global>
	
</config>