@CHARSET "UTF-8";

.itabs .i_titles .i_title .i_center			{color:#787878;}
.itabs .i_titles .i_title .i_center			{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/d.png");}
.itabs .i_titles .i_title .i_left				{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/dl.png");}

.itabs .i_titles .i_title:hover .i_center		{color:#4f4f4f;}
.itabs .i_titles .i_title:hover .i_center		{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/d_h.png");}
.itabs .i_titles .i_title:hover .i_left		{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/dl_h.png");}

.itabs .i_titles .i_title.i_current .i_center	{color:white;}
.itabs .i_titles .i_title.i_current .i_center	{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/d_a.png");}
.itabs .i_titles .i_title.i_current .i_left		{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/dl_a.png");}	

.itabs .contents{border-color: #a9a9a9;background-color:white; background-repeat:repeat-x; background-image:url("../../../../images/itoris/producttabsslider/descending/sky/b.png");}

.itabs .i_titles .i_title .i_corner.r					{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/rc.png");}
.itabs .i_titles .i_title:hover .i_corner.r			{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/rc_h.png");}
.itabs .i_titles .i_title.i_current .i_corner.r			{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/rc_a.png");}

.itabs .i_titles.with-scroll .i_scroll.i__left		{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/ml.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right		{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/mr.png");}

.itabs .i_titles.with-scroll .i_scroll.i__left:hover	{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/ml_h.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right:hover	{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/mr_h.png");}


.itabs .images-preload .d_h							{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/d_h.png");}
.itabs .images-preload .dl_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/dl_h.png");}
/*.itabs .images-preload .dr_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/dr_h.png");}*/

.itabs .images-preload .ml_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/ml_h.png");}
.itabs .images-preload .mr_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/mr_h.png");}
.itabs .images-preload .rc_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/sky/rc_h.png");}