@CHARSET "UTF-8";

.itabs .i_titles .i_title .i_center			{color:#cccccc;}
.itabs .i_titles .i_title .i_center			{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/d.png");}
.itabs .i_titles .i_title .i_left				{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/dl.png");}

.itabs .i_titles .i_title:hover .i_center		{color:white;}
.itabs .i_titles .i_title:hover .i_center		{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/d_h.png");}
.itabs .i_titles .i_title:hover .i_left		{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/dl_h.png");}

.itabs .i_titles .i_title.i_current .i_center	{color:black;}
.itabs .i_titles .i_title.i_current .i_center	{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/d_a.png");}
.itabs .i_titles .i_title.i_current .i_left		{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/dl_a.png");}	

.itabs .contents{border-color: #777777;background-color:white; background-repeat:repeat-x; background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/b.png");}

.itabs .i_titles .i_title .i_corner.r						{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/rc.png");}
.itabs .i_titles .i_title:hover .i_corner.r				{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/rc_h.png");}
.itabs .i_titles .i_title.i_current .i_corner.r				{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/rc_a.png");}

.itabs .i_titles.with-scroll .i_scroll.i__left			{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/ml.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right			{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/mr.png");}

.itabs .i_titles.with-scroll .i_scroll.i__left:hover		{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/ml_h.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right:hover		{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/mr_h.png");}


.itabs .images-preload .d_h							{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/d_h.png");}
.itabs .images-preload .dl_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/dl_h.png");}
/*.itabs .images-preload .dr_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/dr_h.png");}*/

.itabs .images-preload .ml_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/ml_h.png");}
.itabs .images-preload .mr_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/mr_h.png");}
.itabs .images-preload .rc_h						{background-image:url("../../../../images/itoris/producttabsslider/descending/turquoise/rc_h.png");}