<?xml version="1.0"?>
<config>
	<modules>
		<Godfreys_Partsfinder>
			<version>0.0.4</version>
		</Godfreys_Partsfinder>
	</modules>
	<partsfinder_setup>
		<setup>
		</setup>
	</partsfinder_setup>
	<global>
		<resources>
			<partsfinder_setup>
				<setup>
					<module>Godfreys_Partsfinder</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</partsfinder_setup>
		</resources>
		<models>
			<partsfinder>
				<class>Godfreys_Partsfinder_Model</class>
				<resourceModel>partsfinder_resource</resourceModel>
			</partsfinder>
			<partsfinder_resource>
				<class>Godfreys_Partsfinder_Model_Resource</class>
				<entities>
					<brand>
						<table>partsfinder_brand</table>
					</brand>
					<model>
						<table>partsfinder_model</table>
					</model>
                    <accessory_relation>
                    	<table>partsfinder_accessory_relation</table>
                    </accessory_relation>
				</entities>
			</partsfinder_resource>
			<catalog_resource>
				<entities>
					<product_attribute_group_price>
						<table>catalog_product_entity_group_price</table>
                	</product_attribute_group_price>
                	<product_index_group_price>
                		<table>catalog_product_index_group_price</table>
                	</product_index_group_price>
                </entities>                
			</catalog_resource>
			<catalog>
				<rewrite>
					<category_attribute_source_brand>Godfreys_Partsfinder_Model_Category_Attribute_Source_Brand</category_attribute_source_brand>
				</rewrite>
			</catalog>
		</models>
		<blocks>
			<partsfinder>
				<class>Godfreys_Partsfinder_Block</class>
			</partsfinder>
            <adminhtml>
                <rewrite>  
                    <catalog_product_edit_tabs>Godfreys_Partsfinder_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                    <catalog_product_edit_tab_custom>Godfreys_Partsfinder_Block_Adminhtml_Catalog_Product_Edit_Tab_Custom</catalog_product_edit_tab_custom>  
                </rewrite>
            </adminhtml>
		</blocks>
		<events>
        	<catalog_block_product_list_collection>
        		<observers>
        			<partsfinder_observer>
        				<class>Godfreys_Partsfinder_Model_Observer</class>
        				<method>addAccessoryFilterToCollection</method>
        			</partsfinder_observer>
        		</observers>
        	</catalog_block_product_list_collection>
        	<catalog_product_prepare_save>
        		<observers>
        			<partsfinder_observer>
        				<class>Godfreys_Partsfinder_Model_Observer</class>
        				<method>setWarrantyLink</method>
        			</partsfinder_observer>
        		</observers>
        	</catalog_product_prepare_save>
        </events>
        <helpers>
            <partsfinder>
                <class>Godfreys_Partsfinder_Helper</class>
            </partsfinder>
        </helpers>
	</global>
	<frontend>
		<routers>
			<partsfinder>
				<use>standard</use>
				<args>
					<module>Godfreys_Partsfinder</module>
					<frontName>partsfinder</frontName>
				</args>
			</partsfinder>
		</routers>
		<layout>
			<updates>
				<partsfinder>
					<file>partsfinder.xml</file>
				</partsfinder>
			</updates>
		</layout>
	</frontend>
<!-- 
	<admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<adminpartsfinder before="Mage_Adminhtml">Godfreys_Partsfinder_Adminhtml</adminpartsfinder>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
 -->    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <partsfinder before="Mage_Adminhtml">Godfreys_Partsfinder_Adminhtml</partsfinder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <events>
        	
        </events>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                    	<partsfinder translate="title" module="partsfinder">
                    	<title>My Controller</title>
                        <sort_order>-100</sort_order>
                        <children>
                            <index translate="title">
                                <title>Index Action</title>
                                <sort_order>1</sort_order>
                            </index>
                            <ajax translate="title">
                            	<title>Ajax action</title>
                            	<sort_order>2</sort_order>
                            </ajax>
                            <saverelation translate="title">
                            	<title>Save Action</title>
                            	<sort_order>3</sort_order>
                            </saverelation>
                            <custom>
                            	<sort_order>4</sort_order>
                            </custom>
                            <customgrid>
                            	<sort_order>5</sort_order>
                            </customgrid>
                        </children>
                    	</partsfinder>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <partsfinder>
                    <file>partsfinder.xml</file>
                </partsfinder>
            </updates>
        </layout>
        
	</adminhtml>    
</config>
