* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#divSuggestions /* the div that will be placed next to the search box */
{
    position:absolute; /* the div's position will be set by placing it next to the search box */
    z-index:9050; /* z-index for the div */
    font-family:arial; /* font for the suggestions */
    font-size:14px; /*font-size for the div */
    color:#666; /* color for the div */
    width:100%; /* width of the div */
}
#divSuggestions .yui-ac-content /* the content that will be placed inside the div */
{
    position:absolute; /* the content will be placed inside the div */
    left:0; /* distance from the left-top point of the div */
    top:-1px; /* distance from the left-top point of the div */
    border:1px solid #dadada;/*  border of the content div*/
    background-color:#fff;  /* background color for content */
    overflow-y:auto; /* show/hide content flowing from the div */
    text-align:left; /* text-align of content */
    z-index:9050; /* z-index for the content */
    filter: alpha(opacity=100); /* Transperacy of the content, IE Support */
    opacity: 1; /* Transperacy of the content */
    width:100%; /* width of the content */
    padding: 0 5px ;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
#divSuggestions ul /* the list of suggestions */
{
    letter-spacing:0em; /* letter spacing */
    margin:0; /* margins for the ul */
    padding:10px 0; /* padding for the ul */
    width:100%; /* size relative to the content */
}
#divSuggestions li /* a suggestion */
{
    padding:0 15px; /* padding for the suggestion */
    cursor:default; /* cursor type when hovering over a suggestion */
    /*white-space:wrap; *//* break/don't break lines beyond the end of the li */
    cursor: pointer;
    line-height: 30px;
}
#divSuggestions li.ACQueryItem /* a suggestion */
{
    /*line-height:13pt; *//* default line height for suggestions */
}
#divSuggestions li.ACProductItem
{
    /*line-height:10pt;		*//* increase this value if names are long and text overlaps */
    cursor: pointer;
    background-color:White; /* background color for the product suggetions */
    border-bottom: 1px solid #dadada;
    padding-top:6px;
    padding-bottom:6px;
}
#divSuggestions li.ACProductItem:hover,#divSuggestions li.ACProductItem.yui-ac-highlight{
    background: none;
}

#divSuggestions li.ACHeaderItem /* a header */
{
    /*margin-left: 4px;*/
    /*margin-right: 4px;*/
    margin-bottom: 1px;
    background-color:#eee;/* background color for the suggestion's heder, ie: Queries, Products */
    /*font-size:8pt; *//* font size for the headers */
    /*color:#00256A; *//* color for the font *//*	*/
    /*line-height:13pt; *//* ling height for the headers */
    text-transform: uppercase;
    font-family: proxima_nova_bold;
    padding:2px 15px ;
    margin-top: 12px;

}
#divSuggestions li.ACHeaderItem:first-child{margin-top: 0}
#divSuggestions li.ACHeaderItem b{font-family: proxima_nova_regular}
#divSuggestions li.yui-ac-highlight /* highlighted suggestion */
{
    background-color:#e50b14; /* background color for highlighted content */
    color:White; /* color for highlighted content */
    /*padding:0px 0px 0px 0px;*/
    /*margin:0px 5px 0px 5px;*/
}
.ACproductText /* a product suggestion */
{
    font-size: 16px;
    color: #666;
    vertical-align: middle;
    padding-left: 13px;

}
.ACproductText u{text-decoration:none}
.ACProduct /* a product suggestion */
{
    width:100%;
    margin:0;
    padding:2;
}
#divSuggestions li.ACProductItem:hover .ACproductText u{text-decoration: underline}
.ACProductImageCell
{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
img.ACProductImage /* product's image */
{
    width:65px; /* width */
    height:65px; /* height */
}
.Seperator /* Seperator between products */
{
    margin:2px 0px 0px 0px;
    width:95%;
    border-top:1px solid silver;
    font-size:1pt;
    display: none;
}
.ACproductText .ellipsis b {font-weight:normal;}