/* Split Button */
.split-button { display:inline-block; z-index:1; position:relative; max-width:300px; white-space:nowrap;}
.split-button.clickable:active { left:1px; top:1px; }
.split-button { background:url(../../images/enterprise/wishlist/bkg_btn.gif) no-repeat 0 0; height:21px; padding:0 0 0 10px; margin:0; }
.split-button.active { z-index:100; }
.split-button strong { cursor:default; font-weight:bold; text-transform:uppercase; font-size:11px; background:url(../../images/enterprise/wishlist/bkg_btn.gif) no-repeat 100% 0; height:19px; padding:3px 30px 0 5px; margin:0; display:block; overflow-x:hidden; white-space:nowrap; text-overflow:ellipsis; }
.split-button.clickable > strong,
.split-button strong[onclick] { text-transform:uppercase; font-size:11px; color:#C73615; text-transform:uppercase; cursor:pointer; }
.split-button .change { display:inline-block; border:1px solid; border-color:transparent transparent transparent #999; background:url(../../images/enterprise/wishlist/bkg_btn-split-change.png) 5px 50% no-repeat; text-indent:-999em; overflow:hidden; width:15px; cursor:pointer; height:11px; margin-left:8px; vertical-align:middle; }
.split-button .change { position:absolute; right:5px; top:0px; height:19px; border-left-color:#ccc; }

.split-button.light { background:none; height:auto; padding:0; }
.split-button.light.clickable:active { top:auto; left:auto; }
.split-button.light strong { display:inline-block; font-size:11px; text-transform:none; background:none; font-weight:normal; padding:0; height:auto; overflow:visible; white-space:normal; text-overflow:visible; }
.split-button.light.clickable > strong,
.split-button.light strong[onclick] { text-transform:none; text-decoration:underline; color:#999; }
.split-button.light.clickable > strong:hover,
.split-button.light strong[onclick]:hover { text-decoration:none; }
.split-button.light .change { position:static; right:auto; top:auto; height:11px; border-left-color:#999; }

.split-button.active .change,
.split-button .change:hover { background-position:-995px 50%; }
.split-button .list-container { position:absolute; display:none; right:0; top:100%; padding:0; min-width:100%; max-width:300px; float:left; }
.split-button.active .list-container { display:block; }
.split-button .list-container ul { background:#fff; border:1px solid rgba(0,0,0,0.1); position:relative; }
.split-button .list-container ul > li { white-space:nowrap; background:url(../../images/enterprise/wishlist/bkg_btn-split-item.png) no-repeat -10000px -10000px; border:1px solid #c1c1c1; border-top-width:0; margin:0; display:block!important; margin:0!important; }
.split-button .list-container ul > li:first-child { border-top-width:1px; }
.split-button .list-container li a,
.split-button .list-container li span { display:block; line-height:1.2!important; cursor:pointer; padding:5px 18px 5px 18px; color:#999; font-size:11px; text-transform:none; text-decoration:none; text-align:left; text-overflow:ellipsis; overflow:hidden; }
.split-button .list-container li:hover a,
.split-button .list-container li:hover span,
.split-button .list-container li:hover { color:#fff; text-decoration:none; }
.split-button .list-container li:hover { background-color:#999; background-position:5px -984px; }
.split-button .list-container li.new { color:#d33911; background-color:#eee; background-position:5px 7px; }
.split-button .list-container li.new:hover { background-color:#999; background-position:5px -485px; }

/* Wishlist */
.my-wishlist textarea { width:99%; height:3.9em; resize:vertical; line-height:1.3em; overflow:auto; }
#wishlist-table .price-box { margin:3px 0; }
#wishlist-table td .description { margin:10px 0; max-height:3.9em; line-height:1.3em; overflow:hidden; word-wrap:break-word; max-width:345px; }
#wishlist-table td .description .inner { overflow:hidden; }
#wishlist-table td { padding:15px 10px; }
#wishlist-table th:first-child,
#wishlist-table td:first-child { padding-left:10px; padding-right:0; }
#wishlist-table td p { margin:5px 0 15px; }
#wishlist-table td.last { padding:4px 2px; width:1px; }
#wishlist-table td .price-box { font-size:12px; }
#wishlist-table td .price-box p { margin:0 0 5px; }
#wishlist-table td .truncated { float:left; width:auto; margin-right:10px; line-height:18px; }
#wishlist-table td .truncated .show .item-options { top:-40px; right:100%; left:auto; margin-right:15px; line-height:1.2; }
#wishlist-table td .truncated .truncated_full_value .item-options dl { background-position:100% 0; }
#wishlist-table .item-manage { margin:0 0 0 0; float:left; }
#wishlist-table .item-manage .split-button { margin:10px 9px 0 0; }
#wishlist-table .item-manage .split-button .change { margin-left:2px; }
#wishlist-table .item-manage .split-button:last-child { margin-right:0; }
.wishlist-empty { font-size:12px; padding:15px 10px; text-align:center; }
p.wishlist-empty {border:1px solid #d0d0d0;}
/* Multiple Wishlist */

.link-edit { padding-left:18px; line-height:18px; background:url(../../images/enterprise/wishlist/bkg_link-edit.png) no-repeat 0 0; display:inline-block; }
.wishlist-management .link-edit { width:16px; padding:0; margin:0 5px; height:16px; text-indent:-999em; overflow:hidden; vertical-align:middle; }
.wishlist-management .btn-create { float:right; margin-bottom:10px; }
.wishlist-management .sub-title { float:left;  max-width:100%; }
.wishlist-management .sub-title h2 { word-wrap:break-word; }
.wishlist-management .note-msg { clear:both; margin:0 0 10px; padding:10px; border-style:solid !important; border-width:1px !important; font-size:12px !important; border-color:#fcd344; background-color:#fafaec; color:#3d6611; }
.wishlist-management .msg-private { background:url(../../images/enterprise/wishlist/bkg_lock.png) no-repeat 10px 10px #fafaec; padding-left:30px; }
.wishlist-management .table-caption .label { font-size:12px; float:left; line-height:21px; }
#wishlists-move { float:right; margin-left:10px; }
#wishlists-copy { float:right; }

#wishlists-select { background:none; padding-left:0; white-space:nowrap; float:left; max-width:220px; }
#wishlists-select strong { background:none; padding-right:0; padding-left:7px; font-weight:normal; font-size:12px; text-transform:none; }
#wishlists-select strong span { font-weight:bold; }
#wishlists-select .change { text-indent:0; width:auto; background:none; margin-left:4px; border:0; right:auto; left:100%; text-decoration:none; line-height:19px; margin-top:1px; }
#wishlists-select .change span { color:#1e75b4; text-transform:none; background:url(../../images/enterprise/wishlist/bkg_header-panel.gif) no-repeat scroll 100% -74px transparent; padding-right:10px; }
#wishlists-select.active .change span { color:#d33911; background-position:100% -130px; }
#wishlists-select .list-container { right:auto; left:0; margin-top:4px; }
#wishlists-select .list-container ul { background:#e7e7e7; border:0; }
#wishlists-select .list-container li:first-child { border-top:0; }
#wishlists-select .list-container li { border-color:#d9d9d9; }
#wishlists-select .list-container a,
#wishlists-select .list-container span { color:#1e75b4; padding:5px 6px; /* background-position:-999em -999em; */ }
#wishlists-select .list-container li:hover a,
#wishlists-select .list-container li:hover span,
#wishlists-select .list-container li:hover { color:#d33911; }
#wishlists-select .list-container li:hover { background-position:-999em -999em;  background-color:#f8f8f8;  }
#wishlists-select .list-container li.new { color:#d33911; background-color:#d9d9d9; background-position:5px 7px; padding-left:12px; }
#wishlists-select .list-container li.new:hover { background-color:#999; background-position:5px -485px; color:#fff; }
#wishlists-select .list-container li.new:hover a,
#wishlists-select .list-container li.new:hover span { color:#fff; }


/* Wishlist search view */
#wishlist-search-results {}
.col3-layout #wishlist-search-results .item-name { max-width:340px; word-wrap:break-word; display:block; }
.col2-right-layout #wishlist-search-results .item-name,
.col2-left-layout #wishlist-search-results .item-name { max-width:500px; }
.col1-layout #wishlist-search-results .item-name { max-width:600px; }


.wishlist-search-view {}
.list-info { border:1px solid #dadada; padding:10px 0; margin:0 0 15px; background:url(../../images/enterprise/wishlist/bkg_block.gif) repeat-x 100% 100% #fff; max-width:100%; word-wrap:break-word; }
.list-info .item { padding:5px 0; font-size:12px; border-top:1px dotted #d9d9d9; margin:0 15px; }
.list-info .item:first-child { border-top:0; }
.list-info .item .label { font-weight:normal; font-style:italic; font-size:0.9em; margin-right:5px; }
.list-info .item .label:after { content:':'; }
.list-info .item .value { font-weight:bold; }
.wishlist-search-view #wishlist-table td.last { padding:15px 10px; }
.wishlist-search-view #wishlist-table .description { max-height:6.5em; max-width:280px; }
.wishlist-search-view .list-info { display:inline-block; }
.wishlist-search-view .sub-title { clear:both; }
.wishlist-search-view p.qty { text-align:center; }
