<?xml version="1.0"?>
<config>
  <modules>
    <Godfreys_MainMenu>
      <version>0.1.1</version>
    </Godfreys_MainMenu>
  </modules>
  <global>
	<blocks>
	  <mainmenu>
		<class>Godfreys_MainMenu_Block</class>
	  </mainmenu>
			<ultramegamenu>
				<rewrite>
					<navigation>Godfreys_MainMenu_Block_UltraMegamenu_Navigation</navigation>
				</rewrite>
			</ultramegamenu>
	</blocks>
	<resources>
	  <mainmenu_setup>
		<setup>
		  <module>Godfreys_MainMenu</module>
          <class>Infortis_UltraMegamenu_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </mainmenu_setup>
	  <mainmenu_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </mainmenu_write>
	  <mainmenu_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </mainmenu_read>
	</resources>
  </global>
</config> 