<?xml version="1.0"?>
<config>
    <modules>
        <Balance_Accessory>
            <version>0.0.3</version>
        </Balance_Accessory>
    </modules>
    <global>
        <models>
            <accessory>
                <class>Balance_Accessory_Model</class>
                <resourceModel>accessory_resource</resourceModel>
            </accessory>
            <catalog>
                <rewrite>
                    <product>Balance_Accessory_Model_Catalog_Product</product>
                    <product_link>Balance_Accessory_Model_Catalog_Product_Link</product_link>
                    <product_link_api>Balance_Accessory_Model_Catalog_Product_Link_Api</product_link_api>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_link>Balance_Accessory_Model_Resource_Catalog_Product_Link</product_link>
                </rewrite>
            </catalog_resource>
            <accessory_resource>
                <class>Balance_Accessory_Model_Resource</class>
                <entities>
                    <product_link_type>
                        <table>catalog_product_link_type</table>
                    </product_link_type>
                </entities>
            </accessory_resource>
        </models>
        <resources>
            <accessory_setup>
                <setup>
                    <module>Balance_Accessory</module>
                    <class>Balance_Accessory_Model_Resource_Setup</class>
                </setup>
            </accessory_setup>
        </resources>
        <blocks>
			<balance_accessory>
				<class>Balance_Accessory_Block</class>
			</balance_accessory>
            <adminhtml>
                <rewrite>  
                    <catalog_product_edit_tabs>Balance_Accessory_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>  
                </rewrite>
            </adminhtml>
            <accessory>
                <class>Balance_Accessory_Block</class>
            </accessory>
            <enterprise_targetrule>
                <rewrite>
                    <catalog_product_list_related>Balance_Accessory_Block_Catalog_Product_List_Related</catalog_product_list_related>
                </rewrite>
            </enterprise_targetrule>
        </blocks>
        <helpers>
            <accessory>
                <class>Balance_Accessory_Helper</class>
            </accessory>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <accessory before="Mage_Adminhtml">Balance_Accessory_Adminhtml</accessory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <accessory>
                                            <title>Accessory Settings</title>
                                            <sort_order>50</sort_order>
                                        </accessory>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <accessory>
                    <file>accessory.xml</file>
                </accessory>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Balance_Accessory before="Mage_Catalog">Balance_Accessory</Balance_Accessory>
                    </modules>
                </args>
            </catalog>  
            <accessory>
                <use>standard</use>
                <args>
                    <module>Balance_Accessory</module>
                    <frontName>accessory</frontName>
                </args>
            </accessory>
        </routers>
        <layout>
            <updates>
                <accessory>
                    <file>accessory.xml</file>
                </accessory>
            </updates>
        </layout>   
    </frontend>
    <default>
        <accessory>
            <settings>
                <category><![CDATA[-]]></category>
                <brand_attribute><![CDATA[accessory_brands]]></brand_attribute>
                <model_attribute><![CDATA[accessory_models]]></model_attribute>
                <catalog_brand_attribute><![CDATA[brand]]></catalog_brand_attribute>
                <catalog_model_attribute><![CDATA[model]]></catalog_model_attribute>
            </settings>
        </accessory>
    </default>
</config>
