<?xml version="1.0"?>
<!-- 
/**
 * @category   Balance
 * @package    Balance_Datafeed
 * @license    http://www.balanceinternet.com.au
 */
 --> 
<config>
    <modules>
        <Balance_Datafeed>
            <version>0.0.1</version>
        </Balance_Datafeed>
    </modules>
    <default>
        <datafeed>
            <license> 
                <version>0.0.1</version>
            </license>
             <setting>
                <report_title>Data Feed - report </report_title>
            </setting>
            <system>
                <preview>10</preview>
                <buffer>10</buffer>
                <sqlsize>1500</sqlsize>
                <filters>10</filters>
                <disabled>0</disabled>
            </system>
        </datafeed>
    </default>
    <frontend>
        <routers>
            <datafeed>
                <use>standard</use>
                <args>
                    <module>Balance_Datafeed</module>
                    <frontName>datafeed</frontName>
                </args>
            </datafeed>
        </routers>  
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<datafeed before="Mage_Adminhtml">Balance_Datafeed_Adminhtml</datafeed>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <datafeed translate="title"
						module="datafeed">
                        <title>Data Feed Manager</title>
                        <sort_order>190</sort_order>
                        <action>adminhtml/datafeed_datafeed</action>
                    </datafeed>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <datafeed translate="title"	module="datafeed">
                                    <title>Balance Data Feed</title>
                                </datafeed>
                            </children>
                        </catalog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <datafeed>
                                            <title>Balance Data Feed</title>
                                        </datafeed>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Balance_Datafeed>
                    <files>
                        <default>Balance_Datafeed.csv</default>
                    </files>
                </Balance_Datafeed>
            </modules>
        </translate>
        <layout>
            <updates>
                <datafeed>
                    <file>datafeed.xml</file>
                </datafeed>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <datafeed>
                <class>Balance_Datafeed_Model</class>
                <resourceModel>datafeed_mysql4</resourceModel>
            </datafeed>
            <datafeed_mysql4>
                <class>Balance_Datafeed_Model_Mysql4</class>
                <entities>
                    <datafeed>
                        <table>datafeed</table>
                    </datafeed>
                </entities>
            </datafeed_mysql4>
        </models>
        <resources>
            <datafeed_setup>
                <setup>
                    <module>Balance_Datafeed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </datafeed_setup>
            <datafeed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </datafeed_write>
            <datafeed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </datafeed_read>
        </resources>
        <blocks>
            <datafeed>
                <class>Balance_Datafeed_Block</class>
            </datafeed>
        </blocks>
        <helpers>
            <datafeed>
                <class>Balance_Datafeed_Helper</class>
            </datafeed>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <datafeed_generate>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>datafeed/observer::scheduledGenerateFeeds</model>
                </run>
            </datafeed_generate>
        </jobs>
    </crontab>
</config>