<?xml version="1.0"?>
<config>
    <modules>
        <Balance_Warranty>
            <version>0.0.4</version>
        </Balance_Warranty>
    </modules>
    <global>
        <models>
            <warranty>
                <class>Balance_Warranty_Model</class>
                <resourceModel>warranty_resource</resourceModel>
            </warranty>
            <warranty_resource>
                <class>Balance_Warranty_Model_Resource</class>
                <entities>
                    <warranty>
                        <table>warranty_registration</table>
                    </warranty>
                </entities>
            </warranty_resource>
        </models>
        <resources>
            <warranty_setup>
                <setup>
                    <module>Balance_Warranty</module>
                    <class>Balance_Warranty_Model_Resource_Setup</class>
                </setup>
            </warranty_setup>
        </resources>
        <blocks>
            <warranty>
                <class>Balance_Warranty_Block</class>
            </warranty>
        </blocks>
        <helpers>
            <warranty>
                <class>Balance_Warranty_Helper</class>
            </warranty>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <warranty before="Mage_Adminhtml">Balance_Warranty_Adminhtml</warranty>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <warranty>
                                            <title>Warranty Settings</title>
                                            <sort_order>50</sort_order>
                                        </warranty>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <sales translate="title" module="sales">
                            <title>Sales</title>
                            <children>
                                <estimate translate="title" module="warranty">
                                    <title>View Warranties</title>
                                </estimate>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <sales>
                <children>
                    <warranty translate="title" module="warranty">
                        <title>Registered Warranties</title>
                        <action>adminhtml/warranty</action>
                        <depends>
                            <module>Balance_Warranty</module>
                        </depends>
                        <sort_order>20</sort_order>
                    </warranty>
                </children>
            </sales>
        </menu>
        <layout>
            <updates>
                <warranty>
                    <file>warranty.xml</file>
                </warranty>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <warranty>
                <use>standard</use>
                <args>
                    <module>Balance_Warranty</module>
                    <frontName>warranty</frontName>
                </args>
            </warranty>
        </routers>
        <layout>
            <updates>
                <warranty>
                    <file>warranty.xml</file>
                </warranty>
            </updates>
        </layout>   
    </frontend>
    <default>
        <warranty>
            <settings>
                <brand_attribute><![CDATA[brand]]></brand_attribute>
                <warranty_attribute><![CDATA[warranty]]></warranty_attribute>
            </settings>
        </warranty>
    </default>
</config>