<?xml version="1.0"?>
<config>
    <modules>
        <AHT_Aproduct>
            <version>0.1.0</version>
        </AHT_Aproduct>
    </modules>
    <frontend>
        <routers>
            <aproduct>
                <use>standard</use>
                <args>
                    <module>AHT_Aproduct</module>
                    <frontName>aproduct</frontName>
                </args>
            </aproduct>
        </routers>
        <layout>
            <updates>
                <aproduct>
                    <file>aproduct.xml</file>
                </aproduct>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <aproduct>
                <class>AHT_Aproduct_Block</class>
            </aproduct>
        </blocks>
        <helpers>
            <aproduct>
                <class>AHT_Aproduct_Helper</class>
            </aproduct>
        </helpers>
    </global>
</config>