<?xml version="1.0"?>
<config>
    <modules>
        <Godfreys_Locator>
            <version>1.0.3</version>
        </Godfreys_Locator>
    </modules>
    <global>
        <blocks>
            <godfreys_locator>
                <class>Godfreys_Locator_Block</class>
            </godfreys_locator>
            <ak_locator>
                <rewrite>
                     <breadcrumbs>Godfreys_Locator_Block_Breadcrumbs</breadcrumbs>
                     <adminhtml_location_grid>Godfreys_Locator_Block_Adminhtml_Location_Grid</adminhtml_location_grid>
                </rewrite>
            </ak_locator>
        </blocks>
        <helpers>
            <godfreys_locator>
                <class>Godfreys_Locator_Helper</class>
            </godfreys_locator>
        </helpers>
        <models>
            <godfreys_locator>
                <class>Godfreys_Locator_Model</class>
                <resourceModel>godfreys_locator_resource</resourceModel>
            </godfreys_locator>
            <ak_locator>
                <rewrite>
                    <search>Godfreys_Locator_Model_Search</search>
                </rewrite>
            </ak_locator>
            <ak_locator_resource>
                <rewrite>
                    <location_collection>Godfreys_Locator_Model_Resource_Location_Collection</location_collection>
                </rewrite>
            </ak_locator_resource>
        </models>
        <resources>
            <godfreys_locator_setup>
                <setup>
                    <module>Godfreys_Locator</module>
                    <class>Godfreys_Locator_Model_Resource_Setup</class>
                </setup>
            </godfreys_locator_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <godfreys_locator>
                <use>standard</use>
                <args>
                    <module>Godfreys_Locator</module>
                    <frontName>golocator</frontName>
                </args>
            </godfreys_locator>
        </routers>
    </frontend>
</config>