<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Balance_NoStepCheckout>
            <version>0.1.0</version>
        </Balance_NoStepCheckout>
    </modules>
    <global>
        <helpers>
            <nostepcheckout>
                <class>Balance_NoStepCheckout_Helper</class>
            </nostepcheckout>
        </helpers>
        <models>
            <nostepcheckout>
                <class>Balance_NoStepCheckout_Model</class>
            </nostepcheckout>
        </models>
        <blocks>
            <nostepcheckout>
                <class>Balance_NoStepCheckout_Block</class>
            </nostepcheckout>
        </blocks>        
    </global>
    <frontend>
        <routers>
            <nostepcheckout>
                <use>standard</use>
                <args>
                    <module>Balance_NoStepCheckout</module>
                    <frontName>nostepcheckout</frontName>
                </args>
            </nostepcheckout>
        </routers>
        <layout>
            <updates>
                <nostepcheckout module="Balance_NoStepCheckout">
                    <file>nostepcheckout.xml</file>
                </nostepcheckout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <balance_nostepcheckout>
                                            <title>No-Step-Checkout</title>
                                            <sort_order>50</sort_order>
                                        </balance_nostepcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <balance_nostepcheckout>
            <general>
                <enabled>1</enabled>
            </general>
            <order_from_product>
                <order_status>pending</order_status>
                <payment_method>purchaseorder</payment_method>
                <shipping_method>flatrate_flatrate</shipping_method>         
                <share_option_selector>0</share_option_selector>        
            </order_from_product>
            <billing_address_product_form>
                <use_customer_default>1</use_customer_default>
                <country_id>AU</country_id>
            </billing_address_product_form>
            <shipping_address_product_form>
                <use_customer_default>1</use_customer_default>
                <country_id>AU</country_id>
            </shipping_address_product_form>     
            
                   
            <order_from_cart>
                <order_status>pending</order_status>
                <payment_method>purchaseorder</payment_method>
                <shipping_method>flatrate_flatrate</shipping_method>                 
            </order_from_cart>
            <billing_address_cart_form>
                <use_customer_default>1</use_customer_default>
                <country_id>AU</country_id>
            </billing_address_cart_form>
            <shipping_address_cart_form>
                <use_customer_default>1</use_customer_default>
                <country_id>AU</country_id>
            </shipping_address_cart_form>
        </balance_nostepcheckout>
    </default>
</config>