@CHARSET "UTF-8";

.itabs .i_titles .i_title span				{ color:#787878;z-index:100;}
.itabs .i_titles .i_title .i_center			{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/d.png");}
.itabs .i_titles .i_title .i_left				{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/dl.png");}
.itabs .i_titles .i_title .i_right			{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/dr.png");}


.itabs .i_titles .i_title:hover span		{ color:#353535;}
.itabs .i_titles .i_title:hover .i_center		{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/d_h.png");}
.itabs .i_titles .i_title:hover .i_left		{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/dl_h.png");}
.itabs .i_titles .i_title:hover .i_right		{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/dr_h.png");}


.itabs .i_titles .i_title.i_current span		{ color:black;}
.itabs .i_titles .i_title.i_current .i_center	{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/d_a.png");}
.itabs .i_titles .i_title.i_current .i_left		{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/dl_a.png");}
.itabs .i_titles .i_title.i_current .i_right	{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/dr_a.png");}


.itabs .contents{
	border-color: #a9a9a9;
	background-color:white;
	background-repeat:repeat-x;
	background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/b.png");
}

.itabs .i_titles .i_title.i_current .i_corner.l					{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/lc.png");}
.itabs .i_titles .i_title.i_current .i_corner.r					{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/rc.png");}

.itabs .i_titles.with-scroll .i_scroll.i__left div			{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/ml.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right div			{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/mr.png");}

.itabs .i_titles.with-scroll .i_scroll.i__left div:hover		{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/ml_h.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right div:hover		{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/mr_h.png");}


.itabs .images-preload .d_h							{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/d_h.png");}
.itabs .images-preload .dl_h						{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/dl_h.png");}
.itabs .images-preload .dr_h						{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/dr_h.png");}

.itabs .images-preload .ml_h						{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/ml_h.png");}
.itabs .images-preload .mr_h						{background-image:url("../../../../images/itoris/producttabsslider/rounded/violet/mr_h.png");}

.itabs .i_titles .i_title span				{color:#787878;}
.itabs .i_titles .i_title:hover span		{color:#353535;}
.itabs .i_titles .i_title.i_current span		{color:#000000;}