<?xml version="1.0"?><config>	<global>		<modules>                <print_product>                        <version>0.1.0</version>                </print_product>        </modules>	<blocks>            <product>                <rewrite>		 <product>Print_Product_Block_Product</product>		</rewrite>            </product>	 </blocks>        </global>	   <frontend>                <routers>                        <product>                                <use>standard</use>                                <args>                                      <module>Print_Product</module>                                      <frontName>product</frontName>                                </args>                        </product>                </routers>		<layout>			<updates>				<product>		   		      <file>product.xml</file>				</product>			</updates>       		</layout>        </frontend></config>