img
{
    border: none;
}

#search
{
    padding-top: 5px;
}

.header-container #nav-menu .menu-wrapp > li > a
{
    font-size: 16px;
}

.header-container #nav-menu .menu-wrapp
{
    padding-top: 6px;
}

.top_titles p
{
    font-weight: bold;
}

.top_titles p > span
{
    font-weight: normal;
}

.red_button
{
    letter-spacing: 0 !important;
}

.col-main .breadcrumbs ul li
{
    margin-left: 1px;
}

.service_wrapper .left_col ul li > a, .col-left ul li > a
{
    font-weight: bold;
}