
@font-face {
    font-family: "Avenir-lt-std-85-Heavy";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("fonts/AvenirHeavy.woff") format("woff"), url("fonts/AvenirHeavy.ttf") format("truetype"), url("fonts/AvenirHeavy.svg") format("svg");
}
@font-face {
    font-family: "Avenir95Black";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("fonts/AEBL__.woff") format("woff"), url("fonts/AEBL__.ttf") format("truetype"), url("fonts/AEBL__.svg") format("svg");
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #787878;
    font: 13px/1.35 Arial,Helvetica,sans-serif;
    text-align: center;
}
img {
    border: 0 none;
    vertical-align: top;
}
a {
    color: #666666;
    text-decoration: none;
}
a:hover {
    color: #F67D33;
}
:focus {
    outline: 0 none;
}
h1 {
    color: #2675DB;
    font-family: Avenir95Black,arial,tahoma;
    font-size: 27px;
    font-weight: normal;
    text-transform: uppercase;
}
h2 {
    color: #2675DB;
    font-family: Avenir-lt-std-85-Heavy,arial,tahoma;
    font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
}
h3 {
    font-family: Avenir-lt-std-85-Heavy,arial,tahoma;
    font-size: 15px;
    font-weight: normal;
}
h4 {
    color: #2675DB;
    font-family: Avenir-lt-std-85-Heavy,arial,tahoma;
    font-size: 14px;
    font-weight: normal;
}
h5 {
    font-size: 12px;
    font-weight: bold;
}
h6 {
    font-size: 11px;
    font-weight: bold;
}
.std h1 {
    margin: 0;
}
fieldset {
    border: 0 none;
}
legend {
    display: none;
}
table {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
address {
    font-style: normal;
}
cite {
    font-style: normal;
}
q, blockquote {
    quotes: none;
}
q:before, q:after {
    content: "";
}
small {
    font-size: 10px;
}
big {
    font-size: 1.2em;
}
ul, ol {
    list-style: none outside none;
}
.hidden {
    border: 0 none !important;
    display: block !important;
    font-size: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: 0 !important;
}
.nobr {
    white-space: nowrap !important;
}
.wrap {
    white-space: normal !important;
}
.a-left {
    text-align: left !important;
}
.a-center {
    text-align: center !important;
}
.a-right {
    text-align: right !important;
}
.v-top {
    vertical-align: top;
}
.v-middle {
    vertical-align: middle;
}
.f-left, .left {
    float: left !important;
}
.f-right, .right {
    float: right !important;
}
.f-none {
    float: none !important;
}
.f-fix {
    float: left;
    width: 100%;
}
.no-display {
    display: none;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-bg {
    background: none repeat scroll 0 0 transparent !important;
}
.wufoo label.desc {
    color: #787878;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}
.wufoo input.text {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #858585;
    color: #9B9B9B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 29px;
    padding: 2px 9px;
    width: 400px;
}
form li.buttons input.submit {
   background: url("../images/buttonsubmit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-family: 'Avenir-lt-std-85-Heavy';
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-indent: -999em;
    text-transform: uppercase;
    width: 140px;
}
.noI #container form li {
    margin:0 0 14px !important;
    padding: 0;
    width: 420px !important;
	position:relative
}
form p.error{ position: absolute;
    right: 0;
    top: 0;
    z-index: 10;}
.noI #container form li.buttons {
    padding-top: 6px;
}
.wufoo .info h2 {
    color: #2675DB;
    font-family: inherit;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
	white-space: nowrap;
}
.wufoo .info div {
    color: #787878;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    width: 102%;
}
.wufoo .info div br {
    float: left;
}
.embed #public #container {
    width: 420px !important;
}
.wufoo .info {
    padding: 0;
}

.embed .confirm h2 {
	text-transform: none;
}

#errorLi{display:none;}