<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Balance_Sitemap>
                <version>1.0.0</version>
        </Balance_Sitemap>
    </modules>
    <global>
        <models>
            <balance_sitemap>
                    <class>Balance_Sitemap_Model</class>
                    <resourceModel>balance_sitemap_resource</resourceModel>
            </balance_sitemap>
            <balance_sitemap_resource>
                <class>Balance_Sitemap_Model_Resource</class>
                <entities>
                    <robots>
                        <table>balance_sitemap_robots</table>
                    </robots>            
                 </entities>
            </balance_sitemap_resource>            
            <sitemap>
                <rewrite>
                    <sitemap>Balance_Sitemap_Model_Sitemap</sitemap>
                    <observer>Balance_Sitemap_Model_Observer</observer>                    
                </rewrite>
            </sitemap>
        </models>
        <resources>
            <balance_sitemap_setup>
                <setup>
                    <module>Balance_Sitemap</module>
                </setup>
            </balance_sitemap_setup>
        </resources> 
        <helpers>
            <balance_sitemap>
                <class>Balance_Sitemap_Helper</class>
            </balance_sitemap>
        </helpers>       
        <rewrite>
            <balance_sitemap_sitexml>
                <from><![CDATA[#/sitemap\.xml#]]></from>
                <to>/balance_sitemap/index/sitemap</to>
            </balance_sitemap_sitexml>
            <balance_sitemap_robots>
                <from><![CDATA[#/robots\.txt#]]></from>
                <to>/balance_sitemap/index/robots</to>
            </balance_sitemap_robots>                      
       </rewrite>
        <blocks>
            <balance_sitemap>
                <class>Balance_Sitemap_Block</class>                
            </balance_sitemap>
            <adminhtml>
                    <rewrite>
                        <sitemap>Balance_Sitemap_Block_Adminhtml_Sitemap</sitemap>
                        <sitemap_grid_renderer_link>Balance_Sitemap_Block_Adminhtml_Sitemap_Grid_Renderer_Link</sitemap_grid_renderer_link>
                        <sitemap_grid>Balance_Sitemap_Block_Adminhtml_Sitemap_Grid</sitemap_grid>
                    </rewrite>
             </adminhtml>
        </blocks>
    </global>    
    <frontend>
        <routers>
            <balance_sitemap>
                <use>standard</use>
                <args>
                    <module>Balance_Sitemap</module>
                    <frontName>balance_sitemap</frontName>
                </args>
            </balance_sitemap>
        </routers>
    </frontend>	
     <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<balance_sitemap before="Mage_Adminhtml">Balance_Sitemap_Adminhtml</balance_sitemap>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
</config>