@CHARSET "UTF-8";

.itabs .i_titles .i_title span{ color:#474646;}
.itabs .i_titles .i_title .i_center{			background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/d.png");}
.itabs .i_titles .i_title .i_left{			background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/dl.png");}
.itabs .i_titles .i_title .i_right{			background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/dr.png");}

.itabs .i_titles .i_title:hover span{ color:#121212;}
.itabs .i_titles .i_title:hover .i_center{	background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/d_h.png");}
.itabs .i_titles .i_title:hover .i_left{		background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/dl_h.png");}
.itabs .i_titles .i_title:hover .i_right{		background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/dr_h.png");}

.itabs .i_titles .i_title.i_current span{ color:black;}
.itabs .i_titles .i_title.i_current .i_center{	background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/d_a.png");}
.itabs .i_titles .i_title.i_current .i_left{	background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/dl_a.png");}
.itabs .i_titles .i_title.i_current .i_right{	background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/dr_a.png");}

.itabs .contents{border-color: #b5b5b5;background-color:#d4e7d4; background-repeat:repeat-x; background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/b.png");}

.itabs .i_titles.with-scroll .i_scroll.i__left{background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/ml.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right{background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/mr.png");}

.itabs .i_titles.with-scroll .i_scroll.i__left:hover{background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/ml_h.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right:hover{background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/mr_h.png");}


.itabs .images-preload .d_h							{background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/d_h.png");}
.itabs .images-preload .dl_h						{background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/dl_h.png");}
.itabs .images-preload .dr_h						{background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/dr_h.png");}

.itabs .images-preload .ml_h						{background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/ml_h.png");}
.itabs .images-preload .mr_h						{background-image:url("../../../../images/itoris/producttabsslider/sharp/turquoise/mr_h.png");}