@CHARSET "UTF-8";

.itabs .i_titles .i_title span{ color:#cccccc;}
.itabs .i_titles .i_title .i_center{			background-image:url("../../../../images/itoris/producttabsslider/sharp/white/d.png");}
.itabs .i_titles .i_title .i_left{			background-image:url("../../../../images/itoris/producttabsslider/sharp/white/dl.png");}
.itabs .i_titles .i_title .i_right{			background-image:url("../../../../images/itoris/producttabsslider/sharp/white/dr.png");}

.itabs .i_titles .i_title:hover span{ color:#eaeaea;}
.itabs .i_titles .i_title:hover .i_center{	background-image:url("../../../../images/itoris/producttabsslider/sharp/white/d_h.png");}
.itabs .i_titles .i_title:hover .i_left{		background-image:url("../../../../images/itoris/producttabsslider/sharp/white/dl_h.png");}
.itabs .i_titles .i_title:hover .i_right{		background-image:url("../../../../images/itoris/producttabsslider/sharp/white/dr_h.png");}

.itabs .i_titles .i_title.i_current span{ color:black;}
.itabs .i_titles .i_title.i_current .i_center{	background-image:url("../../../../images/itoris/producttabsslider/sharp/white/d_a.png");}
.itabs .i_titles .i_title.i_current .i_left{	background-image:url("../../../../images/itoris/producttabsslider/sharp/white/dl_a.png");}
.itabs .i_titles .i_title.i_current .i_right{	background-image:url("../../../../images/itoris/producttabsslider/sharp/white/dr_a.png");}

.itabs .contents{border-color: #cccccc;background-color: white; background-repeat:repeat-x; background-image:url("../../../../images/itoris/producttabsslider/sharp/white/b.png");}


.itabs .i_titles.with-scroll .i_scroll.i__left{background-image:url("../../../../images/itoris/producttabsslider/sharp/white/ml.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right{background-image:url("../../../../images/itoris/producttabsslider/sharp/white/mr.png");}

.itabs .i_titles.with-scroll .i_scroll.i__left:hover{background-image:url("../../../../images/itoris/producttabsslider/sharp/white/ml_h.png");}
.itabs .i_titles.with-scroll .i_scroll.i__right:hover{background-image:url("../../../../images/itoris/producttabsslider/sharp/white/mr_h.png");}


.itabs .images-preload .d_h							{background-image:url("../../../../images/itoris/producttabsslider/sharp/white/d_h.png");}
.itabs .images-preload .dl_h						{background-image:url("../../../../images/itoris/producttabsslider/sharp/white/dl_h.png");}
.itabs .images-preload .dr_h						{background-image:url("../../../../images/itoris/producttabsslider/sharp/white/dr_h.png");}

.itabs .images-preload .ml_h						{background-image:url("../../../../images/itoris/producttabsslider/sharp/white/ml_h.png");}
.itabs .images-preload .mr_h						{background-image:url("../../../../images/itoris/producttabsslider/sharp/white/mr_h.png");}

.itabs .i_titles .i_title span				{color:#cccccc;}
.itabs .i_titles .i_title:hover span		{color:#eaeaea;}
.itabs .i_titles .i_title.i_current span		{color:#000000;}