<?xml version="1.0"?>
<config>
    <modules>
        <Balance_VersaTag>
            <version>0.1.0</version>
        </Balance_VersaTag>
    </modules>
    <frontend>
        <routers>
            <versatag>
                <use>standard</use>
                <args>
                    <module>Balance_VersaTag</module>
                    <frontName>versatag</frontName>
                </args>
            </versatag>
        </routers>
        <layout>
            <updates>
                <versatag>
                    <file>balance/versatag.xml</file>
                </versatag>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <versatag>
                <class>Balance_VersaTag_Block</class>
            </versatag>
        </blocks>
        <helpers>
            <versatag>
                <class>Balance_VersaTag_Helper</class>
            </versatag>
        </helpers>
    </global>
</config>